<app-menu></app-menu>

<div class="wrapper">
    <div class="col">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-light esp btn-circle btn-xl" routerLink="/reso"><i
                        class='fa fa-reply fa-lg'></i></button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <hr class="my-4">
            <h1 class="display-4 text-center">GRUPOS RESOLUCIÓN 3100/2019 - ESTANDARES Y CRITERIOS</h1>
            <hr class="my-4">
            <div class="botones-grid">
                <button class="btn btn-dark esp btn-xl" title="Todos Servicios" routerLink="/criterio-todos-servicios">
                    TODOS SERVICIOS</button>
                <button class="btn btn-dark esp btn-xl" title="Consulta Externa" routerLink="/criterios-consulta-externa">
                    GRUPO: CONSULTA EXTERNA</button>
                <button class="btn btn-dark esp btn-xl" title="Apoyo Diagnostico" routerLink="/criterios-apoyo-diagnostico">
                    GRUPO: APOYO DIAGNOSTICO</button>
                <button class="btn btn-dark esp btn-xl" title="Internación" routerLink="/criterios-internacion">
                    GRUPO: INTERNACIÓN</button>
                <button class="btn btn-dark esp btn-xl" title="Quirúrgico" routerLink="/criterios-quirurgico">
                    GRUPO: QUIRÚRGICO</button>
                <button class="btn btn-dark esp btn-xl" title="Atención Inmediata" routerLink="/criterios-atencion-inmediata">
                    GRUPO: ATENCIÓN INMEDIATA</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Div Container-->

<app-footer></app-footer>