h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
}

h2 {
    color: black;
}

h3 {
    color: black;
    text-decoration: underline;
}

.sizeh3 {
    font-size: large;
    font-weight: bold;
    margin-top: 0.19rem;
    margin-bottom: 0.19rem;
}

label {
    color: black;
    font-weight: bold;
    font-size: medium;

}

hr.up {
    border: 0.13rem solid;
}

hr.medio {
    border: 0.02rem solid;
}

input {
    color: black;

}

.col-6,
.col-12,
.col-3 {
    padding-top: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.col-12 {
    margin-top: 0.06rem;
    margin-bottom: 1rem;
}

.col-md-6 {
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    grid-gap: 0 1rem;
}

.grid-form {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
}

/*Contenedor*/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.bg-h3 {
    background-color: #e5e5e8;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    column-gap: 2rem;
}

.contenedor-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;

}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4e4e4e;
}



input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-dark:hover {
    transform: scale(1.3);
    transition-duration: 0.2s;
}

select:invalid {
    color: gray;
}

select[hidden],
select[aria-hidden="true"],
select[aria-hidden="true"][hidden] {
    display: block !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.button-like {
    display: inline-block;
    padding: 8px 16px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-like:hover {
    background-color: #3d4347;
}

.btn-span:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}



