h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
}

h2 {
    color: black;
    font-weight: bold;
}

h3 {
    color: black;
}

.sizeh3 {
    font-size: large;
    font-weight: bold;
    margin-top: 0.19rem;
    margin-bottom: 0.19rem;
}

label {
    color: black;
    font-weight: bold;
    font-size: medium;
}

hr.up {
    border: 0.13rem solid;
}

hr.medio {
    border: 0.02rem solid;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-content: center;
    justify-content: center;
}

.col-12 {
    margin-top: 0.06rem;
    margin-bottom: 1rem;
}

.col-md-6 {
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    grid-gap: 0 1rem;
    max-width: 100%; /* Asegura que no se desborde el contenedor padre */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
}



.grid-form {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
}

/*Contenedor*/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.bg-h3 {
    background-color: #e5e5e8;
}


.card {
    width: 100%;
}


input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


