<div class="container">
    <div class="col-md-1 ml-auto">
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h4 class="modal-title">Usuario Asignado </h4>
            <br>
        </div>
    </div>
</div>


<table class="table table-wrapper table-hover">
    <thead>
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Firmar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center-cell">{{usu_nombre}}</td>
            <td class="center-cell">{{usu_apellido}}</td>
            <td class="center-cell">
                <button class="btn btn-outline-primary"> <!--BOTON FIRMAR-->
                    <i class='fas fa-highlighter'></i>
                </button>
            </td>
            <td class="center-cell">
                <button class="btn btn-outline-danger"> <!--BOTON ELIMINAR USUARIO DEL ACTA-->
                    <i class='fas fa-trash'></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>