h2 {
    font-weight: bold;
}

h4 {
    margin-top: 1rem;
    font-weight: bold;
}

span{
    font-weight: bold;
}

.btn-dark:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
    background-color: rgb(87, 86, 86);
    border-color: rgb(87, 86, 86);
}

/*SUBRAYADO NOMBRE FUNCIONARIO*/
.underlined {
    text-decoration: underline;
}


.container {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}

.tittle-button {
    font-size: xx-large;
}