<section class="container imagen_bg">
    <div class="py-5 h-100" >
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0 text-center text-light">SISTEMA DE EVALUACIÓN PARA LA
                        HABILITACIÓN</span>
                </div>
                <br>
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0 ">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="../../assets/img/logo.png" alt="login form" class="img-fluid imagen_login"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="card-body p-lg-4 text-black">
                            <form #f="ngForm" novalidate (ngSubmit)="onLogin()">
                                <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Iniciar
                                    Sesión</h5>
                                <div class="form-group">
                                    <label class="font-weight-bold" for="usu_nombreUsuario">Nombre de
                                        Usuario</label>
                                    <div class="input-group form-outline mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                        <input type="text" class="form-control form-control-lg" name="usu_nombreUsuario" placeholder="Usuario"
                                            id="usu_nombreUsuario" autocomplete="off" required
                                            [(ngModel)]="usu_nombreUsuario">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-bold" for="password">Contraseña</label>
                                    <div class="input-group form-outline mb-4 ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>

                                        <input type="password" class="form-control form-control-lg " name="password" placeholder="Contraseña"
                                            id="usu_password" required [(ngModel)]="usu_password">
                                        <!-- <a (click)="mostrarPassword()"> <span class="fa fa-eye" style="font-size: 50px"></span></a> -->
                                        <div class="input-group-prepend">
                                            <span *ngIf="hide" (click)="mostrarPassword()"
                                                class="input-group-text pass"> <i class='fa fa-eye'></i> </span>
                                            <span *ngIf="!hide" (click)="mostrarPassword()"
                                                class="input-group-text pass"> <i class='fa fa-eye-slash'></i></span>
                                        </div>
                                        <!-- <input type="button" (click)="mostrarPassword()" value=""> -->

                                    </div>
                                </div>

                                <div class="form-group pt-1 mb-4">
                                    <button class="btn btn-dark btn-lg btn-block send" type="submit" [disabled]="!f.valid">
                                        <i class='fas fa-sign-in-alt'></i> Inciar Sesión
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>