.titulo2{
    text-align: center;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-content: center;
    justify-content: center;
}

.btn-dark:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
}
