<app-menu></app-menu>

    <div class="wrapper">
        <button class="btn btn-light esp btn-circle btn-xl" routerLink="/usuarios"><i class='fa fa-reply fa-lg'></i></button>
        <div class="container">
            <div class="jumbotron">
                <hr class="my-4">
                <h1 class="display-4 text-center">Selecciona Tipo de Usuario</h1>
                <hr class="my-4">
                <div class="abs-center">
                    <button class="btn btn-dark esp btn-xl" title="Usuario Admin" routerLink="/usuarios/nuevo/admin">
                        <i class='fas fa-user-plus fa-lg'></i> NUEVO USUARIO ADMIN</button>
                    <button class="btn btn-dark esp btn-xl" title="Usuario SIC" routerLink="/usuarios/nuevo/rol">
                        <i class='fas fa-user-plus fa-lg'></i> NUEVO USUARIO ROL</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Div Container-->
    
<app-footer></app-footer>