.titulo2 {
    text-align: center;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 7fr 6fr;
    align-content: center;
    justify-content: center;

}

.btn-dark:hover {
    transform: scale(1.3);
    transition-duration: 0.2s;
}

/* Estilos generales para jumbotrons */
.jumbotron {
    margin-bottom: 20px;
    /* Agrega espacio entre los jumbotrons */
}

/* Estilos para pantallas mayores o iguales a 1120px */
.container {
    display: flex;
    justify-content: space-between;
}

/*CONTENEDOR DE BOTONES*/
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.button-container label {
    margin-top: -12px; /* Espacio entre el botón y el label */
}

.tittle-label{
    font-weight: bold;
}

/* Estilos para pantallas menores a 1119px */
@media (max-width: 1119px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        /* Apila los elementos uno encima del otro */
    }
}