<div class="sidebar">
  <div class="logo_details">
    <div class="logo_image" id="logo"></div>
    <div class="logo_name">SEHAB</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <hr>

  <ul class="nav-list" *ngIf="!isLogged">
    <li>
      <a routerLink="/login">
        <i class='fas fa-sign-in-alt'></i>
        <span class="link_name">INICIAR SESIÓN</span>
      </a>
      <span class="tooltip">Iniciar Sesión</span>
    </li>
  </ul>

  <ul class="nav-list" *ngIf="isLogged">
    <li>
      <a routerLink="/">
        <i class="fas fa-home"></i>
        <span class="link_name">INICIO</span>
      </a>
      <span class="tooltip">Inicio</span>
    </li>
    <hr>
    <li>
      <a routerLink="/sic">
        <i class="fas fa-hospital"></i>
        <span class="link_name">SIC</span>
      </a>
      <span class="tooltip">Sistema Información Para la Calidad</span>
    </li>

    <li>
      <a routerLink="/sp">
        <i class="fa fa-bed"></i>
        <span class="link_name">SP</span>
      </a>
      <span class="tooltip">Seguridad del Paciente</span>
    </li>
    <li>
      <a routerLink="/pamec">
        <i class="fa fa-wpforms"></i>
        <span class="link_name">PAMEC</span>
      </a>
      <span class="tooltip">Pamec</span>
    </li>
    <li>
      <a routerLink="/reso">
        <i class="fa fa-legal"></i>
        <span class="link_name">RESOLUCIÓN 3100</span>
      </a>
      <span class="tooltip">Resolución 3100</span>
    </li>
    <li>
      <a routerLink="/usuarios">
        <i class="fa fa-users"></i>
        <span class="link_name">USUARIOS</span>
      </a>
      <span class="tooltip">Usuarios</span>
    </li>

    <li>
      <a (click)="toggleSubMenu()">
        <i class="fas fa-stethoscope"></i>
        <span class="link_name">SERVICIOS <i class="bx bx-chevron-down arrow"
            [ngClass]="{ 'arrow-rotated': isSubMenuOpen }"></i></span>
      </a>
      <span class="tooltip">Servicios</span>
      <ul class="sub-menu" *ngIf="isSubMenuOpen" style="margin-left: 60px;">
        <!-- Aquí se añaden las subsecciones -->
        <li>
          <a *ngIf="isAdmin" routerLink="/prestadores"><span class="link_name">PRESTADORES</span></a>
        </li>
        <li>
          <a *ngIf="isAdmin || isSic" routerLink="/criteriosic"><span class="link_name">CRITERIOS SIC</span></a>
        </li>
        <li>
          <a *ngIf="isAdmin || isSp" routerLink="/criterioind"><span class="link_name">CRITERIOS SP IND</span></a>
        </li>
        <li>
          <a *ngIf="isAdmin || isSp" routerLink="/criterioips"><span class="link_name">CRITERIOS SP IPS</span></a>
        </li>
        <li>
          <a *ngIf="isAdmin || isReso" routerLink="/home-res-criterios"><span class="link_name">RESOLUCIÓN
              3100</span></a>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/auditoria">
        <i class="fas fa-search-location"></i>
        <span class="link_name">AUDITORÍA</span>
      </a>
      <span class="tooltip">Auditoria</span>
    </li>

    <hr>
    <li>
      <a routerLink="/usuario/cambiar-contraseña">
        <i class="fa fa-key"></i>
        <span class="link_name">CAMBIAR CONTRASEÑA</span>
      </a>
      <span class="tooltip">Cambiar Contraseña</span>
    </li>
    <hr>

    <li class="profile">
      <div class="profile_details">
        <img src="../../assets/img/profile.png" alt="profile image">
        <div class="profile_content">
          <div class="name" *ngIf="usu_nombre">{{usu_nombre}}</div>
          <div class="designation">Admin</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out" (click)="logOut()"></i>
    </li>
  </ul>

</div>