.logo_image {
    width: 52px;
    /* Ajusta el tamaño según lo necesario */
    height: 40px;
    /* Ajusta el tamaño según lo necesario */
    background-image: url('../../assets/img/ssd.png');

    background-size: cover;
    /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

/* Estilos de la lista desplegable */
.dropdown-list {
    display: none;
    /* Ajusta la posición y otros estilos según tu diseño */
}

/* Mostrar la lista desplegable cuando está activa */
.dropdown-list.show {
    display: block;
}


/*ESTILOS LISTA DESPLEGABLE SERVICIOS*/
.indented {
    padding-left: 30px;
    /* Ajusta el valor según el nivel de sangría que desees */
}


/* Estilos iniciales del elemento de cambiar contraseña */
.change-password {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    /* Estilos de posición */
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Mostrar el elemento de cambiar contraseña al pasar el mouse sobre el perfil */
.profile:hover .change-password {
    display: block;
}