<nav class="navbar navbar-dark bg-dark mb-3 navbar-expand">
  <div class="image-container">
    <div class="row">
      <div class="col-md-12">
        <a class="margin-a navbar-brand centered-content" href="/">SEHAB
          <img class="small-image" src="assets/img/ssd.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div class="d-flex p-2" *ngIf="isLogged">

        <li class="nav-item">
          <a class="nav-link bg-a" *ngIf="isAdmin || isSic" routerLink="/sic"><i
              class="fas fa-hospital color_icono size-icon"></i> <span> SIC</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link bg-a" *ngIf="isAdmin || isSp" routerLink="/sp"><i
              class='fa fa-bed color_icono size-icon'></i> <span> SP</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-a" *ngIf="isAdmin || isPamec" routerLink="/pamec"><i
              class='fa fa-wpforms color_icono size-icon'></i> <span> PAMEC</span> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-a" *ngIf="isAdmin || isReso || isContador" routerLink="/reso"><i
              class='fa fa-legal color_icono size-icon'></i>
            <span> RESOLUCIÓN 3100</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-a" *ngIf="isAdmin" routerLink="/usuarios"><i
              class="fa fa-users color_icono size-icon"></i>
            <span> USUARIOS</span></a>
        </li>

        <div class="dropdown_ser">
          <a *ngIf="!isContador" class="nav-link bg-a"><i class="fas fa-stethoscope color_icono size-icon"></i> <span> SERVICIOS</span></a>
          <div class="dropdown-content ">
            <a *ngIf="isAdmin" routerLink="/prestadores">PRESTADORES</a>
            <a *ngIf="isAdmin || isSic" routerLink="/criteriosic">CRITERIOS SIC</a>
            <a *ngIf="isAdmin || isPamec" routerLink="/criteriopam">CRITERIOS PAMEC</a>
            <a *ngIf="isAdmin || isSp" routerLink="/criterioind">CRITERIOS SP IND</a>
            <a *ngIf="isAdmin || isSp" routerLink="/criterioips">CRITERIOS SP IPS</a>
            <a *ngIf="isAdmin || isReso" routerLink="/home-res-criterios">GRUPOS RESOLUCIÓN 3100</a>
          </div>
        </div>

        <li class="nav-item">
          <a class="nav-link bg-a" *ngIf="isAdmin" routerLink="/auditoria">
            <i class="fas fa-search-location color_icono size-icon"></i> <span> AUDITORIA</span>
          </a>
        </li>
      </div>
    </ul>
  </div>

  <form class="d-flex" role="search">
    <button class="btn btn-light" routerLink="/login" *ngIf="!isLogged"><i class='fas fa-sign-in-alt'></i> Iniciar
      Sesión</button>
    <!-- <button class="btn btn-outline-danger" routerLink="/login" *ngIf="isLogged"  (click)="logOut()"><i class='fas fa-sign-out-alt'></i> Cerrar Sesión</button> -->

    <div class="container bg" *ngIf="isLogged">
      <div class="ocultar-en-pantalla-pequena">
        <h6 class="fw-semibold py-2 text-center" style="color: white;" *ngIf="usu_nombreUsuario">{{usu_nombreUsuario}}
          <!-- Icono de notificaciones y número de notificaciones pendientes -->
          <a href="#" (click)="mostrarNotificaciones()">
            <i class="fas fa-bell" style="color: white; margin-left: 3px;"></i>
            <span class="badge badge-danger">{{ numeroDeNotificaciones }}</span>
          </a>
        </h6>
      </div>

      <c-dropdown alignment="end" variant="nav-item" *ngIf="isLogged">
        <span [caret]="true" cDropdownToggle class="fa fa-user-circle white-color" style="font-size:30px;"></span>
        <ul cDropdownMenu class="pt-0 pr-0 w-auto">
          <li class="mostrar-en-pantalla-pequena">
            <div class="d-flex justify-content-center align-items-center">
              <h6 class="fw-semibold py-2 text-center" *ngIf="usu_nombreUsuario">{{usu_nombreUsuario}}</h6>
              <!-- Icono de notificaciones y número de notificaciones pendientes
              <a href="#" (click)="mostrarNotificaciones()" style="color: rgb(0, 0, 0); margin-left: 5px;">
                <i class="fas fa-bell fa-lg"></i>
                <span class="badge badge-danger">{{ numeroDeNotificaciones }}</span>
              </a> -->
            </div>
          </li>
          <li>
            <a routerLink="/usuario/cambiar-contraseña" cDropdownItem><i class='fa fa-key'></i> Cambiar Contraseña</a>
          </li>
          <li>
            <hr cDropdownDivider />
          </li>
          <li>
            <a routerLink="./" cDropdownItem (click)="logOut()"><i class='fas fa-sign-out-alt'></i> Cerrar Sesión</a>
          </li>
          <li></li>
        </ul>
      </c-dropdown>
    </div>
  </form>

</nav>