<app-menu></app-menu>

<div class="wrapper">
    <div class="col">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-light esp btn-circle btn-xl" routerLink="/sp/evaluaciones-ips"
                    (click)="limpiarNombrePrestador()">
                    <i class="fa fa-reply fa-lg"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <hr class="my-4" />
            <h1 class="display-4 text-center">
                Evaluación de Seguridad del Paciente - Instituciones Prestadoras de
                Servicios de Salud
            </h1>
            <hr class="my-4" />

            <div class="grid-prestador">
                <h5><b>Prestador:</b></h5>
                <span>{{ nombrePrestador }}</span>
            </div>
            <hr class="my-4" />

            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Evaluaciones</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evaluacion of this.evaluacionDto; let i = index">
                        <td>{{ evaluacion.evips_id }}</td>
                        <td>{{ evaluacion.evips_nombre }}</td>
                        <td>
                            <button class="btn btn-outline-dark" routerLink="/sp/evaluacion-ips" 
                            (click)="enviarIdEvaluacion(evaluacion.evips_id)">
                                <span class="fas fa-clipboard"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Fin Div Container-->

<app-footer></app-footer>