h1 {
    text-align: center;
    color: white;
    
}

h5{
    font-size: x-large;
}

textarea {
    resize: none;
    height: 218px;
    border: 2px solid #000; /* Cambia el grosor (2px) y el color (#000) según tus preferencias */
}



label {
    font-weight:  bold;
}

span{
    font-size: xx-large;
    font-weight: bold;
}


.controles-titulo {
    padding-left: 90px
}

/*CONTENEDOR DE LAS EVALUACIONES*/
.contenedor{
    padding-left: 100px;
    padding-right: 20px
}


/* Estilos adicionales para hacer la tabla responsive */
@media (max-width: 1080px) {

    /*MEDIA PARA EL TITULO DE LA SECCION*/
    @media (max-width: 750px) {
        .titulo-seccion {
            font-size: xx-large;
        }
    }
}

@media (max-width: 530px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 4600px) {
    h1 {
        font-size: 25px;
    }
}