<app-menu></app-menu>

<!-- <div class="wrapper">
    <div class="col">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-light esp btn-circle btn-xl" routerLink="/"><i
                        class='fa fa-reply fa-lg'></i></button>
            </div>
        </div>
    </div>
</div> -->


<div class="container">
    <h1 class="titulo-seccion">SISTEMA DE INFORMACIÓN PARA LA CALIDAD</h1>
    <div class="jumbotron position-relative">
        <div>
            <button class="btn btn-dark btn-circle btn-xl" routerLink="/"><i
                    class='fa fa-reply fa-lg'></i></button>
        </div>

        <div class="abs-center">
            <div class="button-container">
                <button class="btn btn-dark esp btn-circle btn-xl" routerLink="/sic/evaluaciones"
                    title="Evaluaciones Realizadas">
                    <i class='fas fa-clipboard-list fa-lg'></i>
                </button>
                <label class="tittle-label">Evaluaciones Realizadas</label>
            </div>
            <div class="button-container">
                <button class="btn btn-dark esp btn-circle btn-xl" title="Crear Acta" routerLink="/sic/acta">
                    <i class='fa fa-file-text fa-lg'></i>
                </button>
                <label class="tittle-label">Crear Acta</label>
            </div>
        </div>
    </div>
</div>
<!--Fin Div Container-->

<app-footer></app-footer>