/*BORDES AL CANVAS*/
#signatureCanvas {
    border: 1px solid black;
    /* Agrega un borde sólido de 1 píxel de ancho con color negro */
    border-radius: 5px;
    /* Opcional: agrega bordes redondeados para dar un aspecto más suave */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Opcional: agrega una sombra para resaltar el canvas */
}

/*Estilo a Span Boton Borrar Firma y Agregar Firma*/
.button-like {
    display: inline-block;
    padding: 8px 16px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-like:hover {
    background-color: #3d4347;
}

.btn-secondary:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

#img-firma {
    font-size: x-large;
    font-weight: bold;
    color: black;
}
/* Estilo para el contenedor del input personalizado */
.custom-file-label {
    display: inline-block;
    background-color: #3d4347;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

/* Cambiar el texto "Browse" */
.custom-file-label::after {
    content: "Seleccionar archivo";
}

.disabled-span {
    pointer-events: none;
    opacity: 0.6; /* Opcional: Cambiar la opacidad para indicar deshabilitado */
    /* Otros estilos de deshabilitado que desees agregar */
}

