<app-menu></app-menu>

<div class="col">
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-light esp btn-circle btn-xl" routerLink="/home-estandar">
                <i class="fa fa-reply fa-lg"></i>
            </button>
        </div>
        <div class="col-md-11 text-center">
            <h1 style="color: white;">Selección de Estándar - Todos los Servicios</h1>
        </div>
    </div>

</div>

<div class="container">
    <div class="table-wrapper">
        <div class="header-section">
            <h5 class="title-header"><b>Prestador:</b></h5>
            <span id="pre_nombre">NOMBRE DEL PRESTADOR DEL ACTA ASIGNADA</span>
        </div>
        <div class="form-group">
            <label for="standardSelect">Selecciona un Estándar:</label>
            <select name="tod_id" id="tod_id" class="form-control" [(ngModel)]="selectedStandard"
                (change)="cargarCriterios(); onStandardChange()">
                <option hidden selected value="">Selecciona el Estandar...</option>
                <option *ngFor="let standard of estandar_servicios" [value]="standard.tod_id">{{
                    standard.tod_nombre_estandar }}</option>
            </select>
        </div>

        <div *ngIf="selectedStandard">
            <h3 class="underlined">ESTANDAR DE {{ nombre_estadar }}</h3>
            <div class="criteria-list rounded">
                <div class="criteria custom-background rounded"
                    *ngFor="let criterio of criterio_servicios; let i = index">
                    <h4>{{criterio.todos_servi_aparto.apa_codigo + ')'}} {{ criterio.cris_nombre_criterio }}</h4>
                    <div class="form-group">
                        <label for="stateSelect">Estado:</label>
                        <select id="stateSelect" class="form-control">
                            <option hidden selected value="">Selecciona el cumplimiento...</option>
                            <option value="Cumple">Cumple</option>
                            <option value="No Cumple">No Cumple</option>
                            <option value="No Aplica">NA</option>
                            <option value=" "></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="observationsTextarea">Observaciones:</label>
                        <textarea id="observationsTextarea" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-dark esp btn-circle">Asignar</button>
                </div>
            </div>
            <hr>
            <div class="form-group rounded">
                <h4>Estado del Estandar:</h4>
                <select id="standardStateSelect" class="form-control" [(ngModel)]="selectedStandardState">
                    <option value="CUMPLE">CUMPLE</option>
                    <option value="NO CUMPLE">NO CUMPLE</option>
                </select>
                <button class="btn btn-dark esp btn-circle">Asignar Estado Estandar</button>
            </div>

        </div>
    </div>
</div>


<app-footer></app-footer>