<app-menu></app-menu>

<div class="container">
    <div class="text-center">
        <h1>CRITERIOS SEGURIDAD DEL PACIENTE - PROFESIONALES INDEPENDIENTES</h1>
        <h5>Selecciona la Etapa</h5>
    </div>
    <hr>
</div>

<div class="container_head">
    <div class="col-md-6">
        <label for="">Etapa:</label>
        <select class="form-control" name="eta_id" id="eta_id" (change)="llenarSpan()" (change)="cargarCriterios()">
            <option hidden selected value="">Selecciona la Etapa...</option>
            <option *ngFor="let etapa of etapas" value="{{etapa.eta_id}}">{{etapa.eta_nombre}}</option>
        </select>
    </div>
</div>



<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-9">
                    <h5><b>Etapa:</b></h5>
                    <span id="ite_nombre"></span>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-secondary" routerLink="/criterioind/agregar" title="Nuevo Criterio">
                        <i class="material-icons">&#xE147;</i>
                        <span>Agregar Criterio</span></button>
                </div>
            </div>
        </div>
        <table class="table table-wrapper table-hover">
            <thead>
                <tr *ngIf="controlCriterio">
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificacion</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterio of criterioInd; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{criterio.cri_nombre}}</td>
                    <td>{{criterio.cri_verificacion}}</td>
                    <td>
                        <button class="btn btn-outline-warning" routerLink="/criterioind/editar/{{criterio.cri_id}}" (click)="obtenerNombreItem();">
                        <i class="far fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="borrar(criterio.cri_id)">
                        <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container" *ngIf="listaVacia">
            <div class="p-3 mb-2 bg-dark text-white text-center">
                <h2>{{ listaVacia }}</h2>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
