<app-menu></app-menu>

<div class="col">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-light esp btn-circle btn-xl" routerLink="/sp">
                <i class="fa fa-reply fa-lg"></i>
            </button>
        </div>
        <div class="col-md-8">

            <h1 class="text-center">Evaluación de Seguridad del Paciente - Instituciones Prestadoras de Servicios de
                Salud</h1>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">ACTA DE VISITA DE VERIFICACIÓN DEL CUMPLIMIENTO DEL PROGRAMA DE SEGURIDAD
                DEL PACIENTE INSTITUCIONES PRESTADORAS DE SERVICIOS DE SALUD (IPS)</h2>
            <hr class="up">
            <form #f="ngForm" novalidate class="row g-3" name="ps" (ngSubmit)="onRegister()" id="form">
                <div class="col-md-2">
                    <label for="inputN_Acta" class="form-label text-center">N°ACTA</label>
                    <input type="number" min="0" class="form-control" id="acta" readonly name="act_id"
                        [(ngModel)]="act_id">
                </div>

                <div class="col-md-2">
                    <label for="inicial" class="form-label">VISITA INICIAL</label>
                    <label class="switch">
                        <input type="checkbox" id="inicial" onclick="unsoloCheckbox()" name="act_visita_inicial"
                            [(ngModel)]="act_visita_inicial" (change)="ocultarMensajes()">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="col-md-3">
                    <label for="segumiento" class="form-label">VISITA DE SEGUIMIENTO</label>
                    <label class="switch">
                        <input type="checkbox" id="segumiento" onclick="unsoloCheckbox()" name="act_visita_seguimiento"
                            [(ngModel)]="act_visita_seguimiento" (change)="ocultarMensajes()">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div *ngIf="showTipoVisitaMessage" class="validation-message-visita">Seleccione un Tipo de
                    Visita.</div>

                <div class="col-md-3">
                    <label class="form-label">FECHA INICIAL</label>
                    <input type="date" class="form-control" id="fecha-inicial" pattern="dd/MM/yyyy" name="fecha_inicial"
                        [(ngModel)]="act_fecha_inicial" [ngModelOptions]="{standalone: true}" ngDefaultControl
                        (change)="ocultarMensajes(); habilitarFechaFinal()">
                    <div *ngIf="showFechaInicialMessage" class="validation-message">Seleccione la Fecha
                        Inicial.</div>
                </div>

                <div class="col-md-3">
                    <label class="form-label">FECHA FINAL</label>
                    <input type="date" class="form-control" id="fecha-final" pattern="dd/MM/yyyy" name="fecha_final"
                        [(ngModel)]="act_fecha_final" [ngModelOptions]="{standalone: true}" ngDefaultControl
                        [disabled]="!habilitarfechaFin" [min]="act_fecha_inicial" (change)="ocultarMensajes()">
                    <div *ngIf="showFechaFinalMessage" class="validation-message">Seleccione la Fecha
                        Final.</div>
                </div>

                <div class="col-12">
                    <hr class="medio">
                </div>

                <div class="col-12">
                    <h3>INFORMACIÓN DEL PRESTADOR</h3>
                </div>

                <div class="col-md-6">
                    <label for="habilitado" class="form-label">Municipio:</label>
                    <select id="mun_id" name="mun_id" class="form-select form-control"
                        (change)="cargarPrestadoresByMun(); ocultarMensajes()" [(ngModel)]="act_municipioId"
                        ngDefaultControl>
                        <option value="" disabled selected hidden>Selecciona un Municipio...</option>
                        <option *ngFor="let municipio of municipio" [value]="municipio.mun_id">
                            {{ municipio.mun_nombre }}
                        </option>
                    </select>
                    <div *ngIf="showMunicipioMessage" class="validation-message">Seleccione el Municipio.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Prestador:</label>
                    <select id="prestador" name="prestador" class="form-select form-control" (change)="llenarCampos()"
                        [(ngModel)]="act_prestadorId" ngDefaultControl (change)="ocultarMensajes()">
                        <option value="" disabled selected hidden>Selecciona un Prestador...</option>
                        <option *ngFor="let prest of prestador" [value]="prest.pre_cod_habilitacion">
                            {{ prest.pre_nombre }}
                        </option>
                    </select>
                    <div *ngIf="showPrestadorMessage" class="validation-message">Seleccione el Prestador.
                    </div>
                </div>

                <div class="col-6">
                    <label for="nit" class="form-label">Nit:</label>
                    <input type="text" class="form-control" id="nit" placeholder="Nit" readonly name="act_nit"
                        [(ngModel)]="act_nit">
                </div>

                <div class="col-6">
                    <label for="direccion" class="form-label">Dirección:</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Dirección Prestador" readonly>
                    <input type="hidden" name="act_direccion" [(ngModel)]="act_direccion">
                </div>

                <div class="col-6">
                    <label for="barrio" class="form-label">Barrio:</label>
                    <input type="text" class="form-control" id="barrio" name="act_barrio" placeholder="Barrio Prestador"
                        required [(ngModel)]="act_barrio" (input)="ocultarMensajes()">
                    <div *ngIf="showBarrioMessage" class="validation-message-barrio">Ingresa el Barrio.</div>
                </div>

                <div class="col-6">
                    <label for="telefono" class="form-label">Telefono:</label>
                    <input type="tel" class="form-control" id="telefono" placeholder="Telefono" readonly>
                    <input type="hidden" name="act_telefono" [(ngModel)]="act_telefono">
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="E-mail" readonly>
                    <input type="hidden" name="act_email" [(ngModel)]="act_email">
                </div>


                <div class="col-md-6">
                    <label for="" class="form-label">Representante Legal:</label>
                    <input type="text" class="form-control" id="repleg" placeholder="Representante Legal" readonly>
                    <input type="hidden" name="act_representante" [(ngModel)]="act_representante">
                </div>


                <div class="col-md-6">
                    <label for="" class="form-label">Código Prestador:</label>
                    <input type="text" class="form-control" id="codpres" placeholder="Código Prestador" readonly>
                    <input type="hidden" name="act_cod_prestador" [(ngModel)]="act_cod_prestador">
                </div>


                <div class="col-12">
                    <label for="inputAddress" class="form-label">Objeto de la Visita:</label>
                    <select id="objVisita" class="form-select form-control" [(ngModel)]="act_obj_visita"
                        [ngModelOptions]="{standalone: true}" ngDefaultControl (change)="ocultarMensajes()">
                        <option hidden selected>Objeto de visita...</option>
                        <option>Realizar seguimiento a la implementación del programa de seguridad del paciente para
                            instituciones
                            prestadoras de servicios de salud. </option>
                    </select>
                    <div *ngIf="showObjVisitaMessage" class="validation-message-ovpc">Seleccione el Objeto.</div>
                </div>


                <div class="col-12">
                    <hr class="medio">
                </div>


                <div class="col-12 bg-h3 contenedor-form">
                    <h3 class="text-center sizeh3">ORDÉN DEL DÍA</h3>
                </div>

                <div class="col-12">
                    <h3 class="text-center sizeh3">1. PRESENTACIÓN ANTE GERENTE Y/O SU DELEGADO:</h3>
                </div>

                <div class="col-md-3">
                    <label for="fecha" class="form-label">Fecha:</label>
                    <input type="date" class="form-control" id="fecha_orden" name="fecha_orden"
                        [(ngModel)]="act_fecha_orden" [disabled]="!habilitarfechaFin" [min]="act_fecha_inicial">
                </div>

                <div class="col-md-3">
                    <label for="hora" class="form-label">Hora:</label>
                    <input type="time" class="form-control" id="hora" name="act_hora" [(ngModel)]="act_hora_orden24">
                </div>


                <div class="col-md-6">
                    <label for="" class="form-label">Número de Oficio:</label>
                    <input type="text" class="form-control" id="numero_oficio" placeholder="Número de oficio"
                        name="act_num_oficio" [(ngModel)]="act_num_oficio">
                </div>

                <div class="col-md-6">
                    <label for="" class="form-label">Fecha de Oficio:</label>
                    <input type="date" class="form-control" id="fecha_oficio" placeholder="Fecha de oficio"
                        name="fecha_oficio" [(ngModel)]="act_fecha_oficio" [max]="act_fecha_orden">
                </div>

                <div class="col-md-6">
                    <label for="" class="form-label">Fecha Envío de Oficio:</label>
                    <input type="date" class="form-control" id="fecha_envio_oficio" placeholder="Fecha Envío de oficio"
                        name="fecha_envio_oficio" [(ngModel)]="act_fecha_envio_oficio" [min]="act_fecha_oficio"
                        [max]="act_fecha_inicial">
                </div>

                <div class="col-12">
                    <hr class="medio">
                </div>

                <div class="col-12">
                    <h3 class="text-center sizeh3">2. OBJETO DE LA VISITA:</h3>
                </div>

                <div class="col-12">
                    <h3 class="sizeh3">SELECCIONA LAS EVALUACIONES DE LA VISITA:</h3>
                </div>


                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva1" name="eva1" [(ngModel)]="evaluacionesSeleccionadas['eva1']">
                        <div class="slider round" (click)="toggleEvaluacion('eva1', 1)"></div>
                    </div>
                    <label for="eva1">1. EVALUACION DE HERRAMIENTAS PARA LA IDENTIFICACIÓN Y GESTIÓN DE EVENTOS
                        ADVERSO</label>
                </div>


                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva2" name="eva2" [(ngModel)]="evaluacionesSeleccionadas['eva2']">
                        <div class="slider round" (click)="toggleEvaluacion('eva2', 2)"></div>
                    </div>
                    <label for="eva2">2. MONITORIZACIÓN DE ASPECTOS RELACIONADOS CON LA SEGURIDAD DEL PACIENTE</label>
                </div>


                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva3" name="eva3" [(ngModel)]="evaluacionesSeleccionadas['eva3']">
                        <div class="slider round" (click)="toggleEvaluacion('eva3', 3)"></div>
                    </div>
                    <label for="eva3">3. DETECCIÓN, PREVENCIÓN Y CONTROL DE INFECCIONES ASOCIADAS AL CUIDADO</label>
                </div>

                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva4" name="eva4" [(ngModel)]="evaluacionesSeleccionadas['eva4']">
                        <div class="slider round" (click)="toggleEvaluacion('eva4', 4)"></div>
                    </div>
                    <label for="eva4">4. USO SEGURO DE MEDICAMENTOS</label>
                </div>


                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva5" name="eva5" [(ngModel)]="evaluacionesSeleccionadas['eva5']">
                        <div class="slider round" (click)="toggleEvaluacion('eva5', 5)"></div>
                    </div>
                    <label for="eva5">5. ASEGURAR LA CORRECTA IDENTIFICACIÓN DE PACIENTES</label>
                </div>

                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva6" name="eva6" [(ngModel)]="evaluacionesSeleccionadas['eva6']">
                        <div class="slider round" (click)="toggleEvaluacion('eva6', 6)"></div>
                    </div>
                    <label for="eva6">6. GARANTIZAR LA ATENCIÓN SEGURA DE LA MADRE Y EL RECIEN NACIDO</label>
                </div>

                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva7" name="eva7" [(ngModel)]="evaluacionesSeleccionadas['eva7']">
                        <div class="slider round" (click)="toggleEvaluacion('eva7', 7)"></div>
                    </div>
                    <label for="eva7">7. MEJORAR LA SEGURIDAD EN LOS PROCEDIMIENTOS QUIRURGICOS</label>
                </div>

                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva8" name="eva8" [(ngModel)]="evaluacionesSeleccionadas['eva8']">
                        <div class="slider round" (click)="toggleEvaluacion('eva8', 8)"></div>
                    </div>
                    <label for="eva8">8. PREVENCIÓN DE ULCERAS POR PRESIÓN</label>
                </div>

                <div class="col-md-6 with-divider-horizontal">
                    <div class="switch">
                        <input type="checkbox" id="eva9" name="eva9" [(ngModel)]="evaluacionesSeleccionadas['eva9']">
                        <div class="slider round" (click)="toggleEvaluacion('eva9', 9)"></div>
                    </div>
                    <label for="eva9">9. PROCESOS PARA LA PREVENCIÓN Y REDUCCIÓN DE LA FRECUENCIA DE CAÍDA</label>
                </div>

                <div class="col-md-6 with-divider-horizontal">
                </div>

                <div class="col-12">
                    <hr class="medio">
                </div>

                <div class="col-12">
                    <h3 class="text-center sizeh3">3. CARACTERIZACIÓN DE LOS SERVICIOS OFERTADOS:</h3>
                </div>

                <div class="col-12">
                    <h3 class="sizeh3">CARGAR CAPTURA DE LOS SERVICIOS - REPS:</h3>
                </div>

                <div class="col-md-7">
                    <div class="col-12 d-flex justify-content-center p-2">
                        <label for="fileInput" class="custom-file-label">
                            <i class="fas fa-upload"></i> Cargar imagen
                        </label>
                        <input type="file" id="fileInput" accept="image/*" (change)="cargarImagen($event)">
                    </div>
                </div>

                <!--LINEA-->
                <div class="col-12">
                    <hr class="medio">
                </div>

                <div class="col-12">
                    <h3 class="text-center sizeh3">FIRMAS</h3>
                </div>

                <div class="col-12 bg-h3 contenedor-form">
                    <h3 class="text-center sizeh3">POR SECRETARIA DE SALUD DEPARTAMENTAL</h3>
                </div>

                <div class="col-12">
                    <label for="" class="form-label">Verificador SOGCS:</label>
                    <select id="usu_secretaria" class="form-select form-control" [(ngModel)]="act_funcionarioId"
                        [ngModelOptions]="{standalone: true}" ngDefaultControl
                        (change)="cargoUsuario(); ocultarMensajes()">
                        <option value="" disabled selected hidden>Selecciona el Verificador...</option>
                        <option *ngFor="let usuario of usuario" value="{{usuario.usu_id}}">{{usuario.usu_nombre}}
                            {{usuario.usu_apellido}}</option>
                    </select>
                    <div *ngIf="showVerificadorMessage" class="validation-message-ovpc">Seleccione el Verificador.
                    </div>
                </div>

                <div class="col-12">
                    <label for="" class="form-label">Cargo:</label>
                    <input type="text" class="form-control" id="cargoSecre" name="act_cargo_funcionario"
                        placeholder="Cargo..." [(ngModel)]="act_cargo_funcionario" readonly>
                </div>

                <div class="col-12 bg-h3 contenedor-form">
                    <h3 class="text-center sizeh3">PRESTADOR DE SERVICIOS DE SALUD</h3>
                </div>

                <div class="col-md-6">
                    <label for="" class="form-label">Representante:</label>
                    <input type="text" class="form-control" id="nombrePrestador" name="act_nombre_prestador"
                        placeholder="Prestador..." [(ngModel)]="act_nombre_prestador"
                        (input)="act_nombre_prestador = act_nombre_prestador.toUpperCase()" (input)="ocultarMensajes()">
                    <div *ngIf="showPresadorNombreMessage" class="validation-message-ovpc">Ingresa el Nombre
                        Representante a
                        cargo.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="form-label">Cargo:</label>
                    <input type="text" class="form-control" id="cargoPres" name="act_cargo_prestador"
                        placeholder="Cargo..." [(ngModel)]="act_cargo_prestador"
                        (input)="act_cargo_prestador = act_cargo_prestador.toUpperCase()" (input)="ocultarMensajes()">
                    <div *ngIf="showPrestadorCargoMessage" class="validation-message-ovpc">Ingresa el Cargo del
                        Representante.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="form-label">Acompañante de visita:</label>
                    <input type="text" class="form-control" id="nombrePrestadorAcompanante"
                        name="act_nombre_prestador_acompanante" placeholder="Prestador..."
                        [(ngModel)]="act_nombre_prestador_acompanante"
                        (input)="act_nombre_prestador_acompanante = act_nombre_prestador_acompanante.toUpperCase()"
                        (input)="ocultarMensajes()">
                    <div *ngIf="showPresadorNombreMessage" class="validation-message-ovpc">Ingresa el Nombre Prestador a
                        cargo.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="" class="form-label">Cargo:</label>
                    <input type="text" class="form-control" id="cargoPresAcompanante"
                        name="act_cargo_prestador_acompanante" placeholder="Cargo..."
                        [(ngModel)]="act_cargo_prestador_acompanante"
                        (input)="act_cargo_prestador_acompanante = act_cargo_prestador_acompanante.toUpperCase()"
                        (input)="ocultarMensajes()">
                    <div *ngIf="showPrestadorCargoMessage" class="validation-message-ovpc">Ingresa el Cargo del
                        Acompañante.
                    </div>
                </div>



                <div class="col-12">
                    <button id="boton-acta-sp-ind" class="btn btn-dark esp btn-circle btn-xl" title="Guardar"
                        type="submit" (click)="obtenerNombres()">
                        <i class='fa fa-save fa-lg'></i>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<!--Fin Div Container-->

<app-footer></app-footer>