<app-menu></app-menu>

<div class="col">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-light esp btn-circle btn-xl" routerLink="/sp/evaluaciones-pro" (click)="deshabilitarRutaEditar()">
                <i class="fa fa-reply fa-lg"></i>
            </button>
        </div>
        <div class="col-md-8">
            <h1 class="text-center">Seguridad del Paciente - Profesionales Independientes</h1>
        </div>
    </div>
</div>

<div class="t2">
    <h2>CUMPLIMIENTO DEL PROGRAMA DE SEGURIDAD DEL PACIENTE
        PROFESIONALES INDEPENDIENTES</h2>
</div>

<ng-template #modalTemplate>
    <app-modal-cumplimiento-sp-ind [dataFromParent]="modalRef"></app-modal-cumplimiento-sp-ind>
</ng-template>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h5><b>Prestador:</b></h5>
                    <span id="nombre-prestador">{{nombre_prestador}}</span>
                </div>
                <div class="col-sm-7"></div>
            </div>
        </div>

        <h4>{{Etapa1}}</h4>
        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificación</th>
                    <th scope="col">Calificación </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioIndEta1 of criterioIndEtapa1; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{criterioIndEta1.cri_nombre}}</td>
                    <td>{{criterioIndEta1.cri_verificacion}}</td>
                    <td>
                        <button class="btn" [ngClass]="getClassForCriterio(criterioIndEta1)"
                            [disabled]="sharedService.criteriosIndGuardados.includes(criterioIndEta1.cri_id)"
                            (click)="openModal(modalTemplate, criterioIndEta1.cri_id, eva_ind_id)">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="border-top: 1px solid black;">

        <h4>{{Etapa2}}</h4>

        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificación</th>
                    <th scope="col">Cumplimiento</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioIndEta2 of criterioIndEtapa2; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{criterioIndEta2.cri_nombre}}</td>
                    <td>{{criterioIndEta2.cri_verificacion}}</td>
                    <td>
                        <button class="btn" [ngClass]="getClassForCriterio(criterioIndEta2)"
                            [disabled]="sharedService.criteriosIndGuardados.includes(criterioIndEta2.cri_id)"
                            (click)="openModal(modalTemplate, criterioIndEta2.cri_id, eva_ind_id)">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="border-top: 1px solid black;">

        <h4>{{Etapa3}}</h4>

        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificación</th>
                    <th scope="col">Cumplimiento</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioIndEta3 of criterioIndEtapa3; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{criterioIndEta3.cri_nombre}}</td>
                    <td>{{criterioIndEta3.cri_verificacion}}</td>
                    <td>
                        <button class="btn" [ngClass]="getClassForCriterio(criterioIndEta3)"
                            [disabled]="sharedService.criteriosIndGuardados.includes(criterioIndEta3.cri_id)"
                            (click)="openModal(modalTemplate, criterioIndEta3.cri_id, eva_ind_id)">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="border-top: 1px solid black;">

        <h4>{{Etapa4}}</h4>

        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Verificación</th>
                    <th scope="col">Cumplimiento</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let criterioIndEta4 of criterioIndEtapa4; let i = index">
                    <td>{{i+1}} </td>
                    <td>{{criterioIndEta4.cri_nombre}}</td>
                    <td>{{criterioIndEta4.cri_verificacion}}</td>
                    <td>
                        <button class="btn" [ngClass]="getClassForCriterio(criterioIndEta4)"
                            [disabled]="sharedService.criteriosIndGuardados.includes(criterioIndEta4.cri_id)"
                            (click)="openModal(modalTemplate, criterioIndEta4.cri_id, eva_ind_id)">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="border-top: 1px solid black;">


        <div class="row">
            <div class="col-md-1">
                <button id="boton-evaluacion-sic" class="btn btn-dark " title="Guardar" type="submit">
                    <i class='fa fa-save fa-lg'></i>
                </button>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>