<app-menu></app-menu>


<div class="container">
    <div class="text-center">
        <h1>CRITERIOS PROGRAMA DE AUDITORIA PARA EL MEJORAMIENTO DE LA CALIDAD (PAMEC)</h1>
    </div>
    <hr>
</div>

<div class="container_head">
    <div class="col-md-6">
        <label for="">Filtrar por Actividad:</label>
        <select class="form-control" name="act_id" id="act_id" (change)="cargarCriteriosIdActividad()"
            (change)="llenarSpan()">
            <option hidden selected value="">Selecciona la Actividad...</option>
            <option *ngFor="let actividad of actividad" value="{{actividad.act_id}}">{{actividad.act_nombre}}</option>
        </select>
    </div>
</div>



<div class="container size">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row" >
                <div class="col-sm-9" [ngClass]="{'col-md-9': !titleActividad}">
                    <h5 *ngIf="titleActividad"><b>Actividad:</b></h5>
                    <span id="act_nombre"></span>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-secondary" routerLink="/criteriopam/agregar" title="Nuevo Criterio">
                        <i class="material-icons">&#xE147;</i>
                        <span>Agregar Criterio</span></button>
                </div>
            </div>
        </div>
        <table class="table table-wrapper table-hover">
            <thead>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Criterio</th>
                    <th scope="col">Desarrollo Etapas</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let criterio of criteriopam | filter:searchText | paginate: { itemsPerPage: 10, currentPage: page}; let i = index">
                    <td style="text-align: center;">{{calcularIDGlobal(i, page, 10)}}</td>
                    <td>{{criterio.crip_nombre}}</td>
                    <td>{{criterio.crip_desarrollo_etapas}}</td>
                    <td>
                        <button class="btn btn-outline-warning" routerLink="/criteriopam/editar/{{criterio.crip_id}}"
                            (click)="obtenerNombreActividad();">
                            <i class="far fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="borrar(criterio.crip_id)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page =$event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>

</div>

<div class="container" *ngIf="listaVacia">
    <div class="p-3 mb-2 bg-dark text-white text-center">
        <h2>{{ listaVacia }}</h2>
    </div>
</div>


<app-footer></app-footer>