.titulo2{
    text-align: center;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-content: center;
    justify-content: center;
}

.btn-dark:hover {
    transform: scale(1.3);
    transition-duration: 0.2s;
}

/*CONTENEDOR DE BOTONES*/
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.button-container label {
    margin-top: -12px; /* Espacio entre el botón y el label */
}

.tittle-label{
    font-weight: bold;
}


/* Estilos para pantallas menores a 1050px */
@media (max-width: 1050px) {
    .container {
        max-width: 865px;
    }
}

/* Estilos para pantallas menores a 974px */
@media (max-width: 974px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        /* Apila los elementos uno encima del otro */
    }
}